body {
  background-image: url("./busipost.jpg");
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
}
